@import '~susy';
$susy: (
  'columns': susy-repeat(12),
);
$margin: 1%;
$background: #CCCCCC;
$linkcolor: cornflowerblue;

// box-sizing
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: table;
  }
}
// overall container mixin
@mixin container(
  $width: all,
  $config: $susy,
  $debug: false
) {
  $config: susy-settings($config);
  $container-spread: map-get($config, 'container-spread');
  $width: span($width $container-spread of $container-spread, $config);
  @include clearfix;
  margin: 0 auto;
  width: $width or 100%;
}
html {
  font-family: Myriad Pro, Helvetica, Arial, sans-serif;
  font-size: calc(14px + 0.5vw);
}
body {
  line-height: 1.4;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 40px;
  font-size: 14px;
  background: $background;
}
header {
  display: block;
  position: fixed;
  top: 0;
  z-index: 5;
  h1 {
    margin: 10px 0;
  }
}
a {
  color: $linkcolor;
}
.container {
  @include container(90%);
  min-height: 300px;
}
.subhead {
  background: #333;
  color: white;
  width: 100%;
  padding: 10px;
  @include clearfix;
}
.editor {
  display: grid;
  grid-template-areas: 'left main right';
  grid-template-columns: minmax(auto, 20em) 1fr minmax(auto, 20em);
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 300px;
}
.editor > div {
  float: left;
}
textarea {
  width: 100%;
  height: 300px;
  border: 1px #333 solid;
}
.edit-area {
  background: white;
  border: 1px #333 solid;
  padding: 10px;
  margin: $margin;
  height: 300px;
  overflow: auto;
}
.node {
  padding: 10px;
  border: 1px #333 solid;
  margin-bottom: 10px;
  @include clearfix;
  label {
    width: 80%;
    padding: 5px;
    margin-right: 10px;
    background: #EFEFEF;
    border: 1px #333 solid;
    border-radius: 5px;
    float: left;
    i {
      padding: 2.5px;
    }
  }
}
.input-group {
  @include clearfix;
  width: 100%;
  margin-bottom: 2px;
  label, input {
    float: left;
  }
  label {
    width: 40%;
    text-align: right;
    padding: 5px;
  }
}
.form-actions {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-rows: auto auto;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.btn {
  background: $linkcolor;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.danger {
  background-color: red;
  color: white;
}
.warning {
  background-color: gold;
  color: white;
}
.success {
  background-color: limegreen;
  color: white;
}
.info {
  background-color: cornflowerblue;
  color: white;
}
.actions {
  @include clearfix;
  padding: 10px;
  width: 100%;
  div {
    text-align: right;
  }
}
input {
  padding: 5px;
  border: 1px #333 solid;
  float: right;
}
