@import '~susy';
$susy: (
  'columns': susy-repeat(12),
);
$margin: 1%;
$background: #CCCCCC;

// box-sizing
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: table;
  }
}
// overall container mixin
@mixin container(
  $width: all,
  $config: $susy,
  $debug: false
) {
  $config: susy-settings($config);
  $container-spread: map-get($config, 'container-spread');
  $width: span($width $container-spread of $container-spread, $config);
  @include clearfix;
  margin: 0 auto;
  width: $width or 100%;
}
html {
  font-family: Myriad Pro, Helvetica, Arial, sans-serif;
  font-size: calc(14px + 0.5vw);
}
body {
  line-height: 1.4;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 40px;
  font-size: 14px;
  background: $background;
}
header {
  display: block;
  position: fixed;
  top: 0;
  z-index: 5;
  h1 {
    margin: 10px 0;
  }
}
.container {
  @include container(90%);
  display: grid;
  grid-template-areas: 'left main right' 'actions actions actions';
  grid-template-columns: minmax(auto, 20em) 1fr minmax(auto, 20em);
  grid-template-rows: auto 1fr auto;
  min-height: 300px;
}
.container > div {
  float: left;
}
.editor {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: (50% - $margin) (50% - $margin);
  grid-template-rows: auto auto;
  min-height: 300px;
}
.editor > div {
  float: left;
}
textarea {
  width: 100%;
  height: 300px;
  border: 1px #333 solid;
}
.edit-area {
  background: white;
  border: 1px #333 solid;
  padding: 10px;
  margin: $margin;
  height: 300px;
  overflow: auto;
}
.node {
  padding: 10px;
  border: 1px #333 solid;
  margin-bottom: 10px;
}
.input-group {
  @include clearfix;
  margin-bottom: 2px;
}
.input {
  float: left;
}
.actions {
  grid-area: actions;
  button {
    float: right;
  }
}

input {
  padding: 5px;
  border: 1px #333 solid;
  float: right;
}
